<!-- footer start -->
<!-- <footer>
   <div class="text-center p-3 ">
      <a href="index.html"><img width="210" src="img/logo.png" alt="#" /></a>
      <a href="#"></a>
   </div>
</footer> -->

<div class="text-center p-3 ">
   <a href="index.html"><img width="210" src="img/logo.png" alt="#" /></a>
   <p>&COPY;
      <script>document.write(new Date().getFullYear());</script>|| All Rights Reserved By ||<a
         href="https://github.com/AsmatRahman">🤍 Asmat Rahman 🤍</a>
   </p>
</div>
<!-- footer end -->
<script src="js/login.js"></script>
<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<script>
   console.log(document.cookie)
   try {
     let userData = JSON.parse(decodeURIComponent(document.cookie.split('=')[1]));
     if(userData.user_name) {
       $('.not-logged-in').addClass('d-none');
       $('.logged-in').removeClass('d-none');
       $('.logged-in .user-name').text(userData.user_name);
     }
     else {
       $('.not-logged-in').removeClass('d-none');
       $('.logged-in').addClass('d-none');
       $('.logged-in .user-name').text('');
     }
   } catch (error) {
     $('.not-logged-in').removeClass('d-none');
     $('.logged-in').addClass('d-none');
     $('.logged-in .user-name').text('');
   }
   </script>
</body>

</html>