<%- include ./partials/header %>
   <!-- inner page section -->
   <section class="inner_page_head">
      <div class="container_fuild">
         <div class="row">
            <div class="col-md-12">
               <div class="full">
                  <h3>Our Creative Team</h3>
                  <h4>Group-D</h4>
               </div>
            </div>
         </div>
      </div>
   </section>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
               style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <br>
               <div class="line"></div>
            </div>
         </div>
      </div>
      <div class="row">
         <!-- Single Advisor-->
         <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
               style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
               <!-- Team Thumb-->
               <div class="advisor_thumb"><img src="img/asmat.png" alt="">
                  <!-- Social Info-->
                  <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
               </div>
               <!-- Team Details-->
               <div class="single_advisor_details_info">
                  <h6>Asmat Rahman</h6>
                  <p class="designation">BWU/BTS/19/184</p>
               </div>
            </div>
         </div>
         <!-- Single Advisor-->
         <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
               style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
               <!-- Team Thumb-->
               <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  <!-- Social Info-->
                  <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
               </div>
               <!-- Team Details-->
               <div class="single_advisor_details_info">
                  <h6>Apurba Pal</h6>
                  <p class="designation">BWU/BTS/19/209</p>
               </div>
            </div>
         </div>
         <!-- Single Advisor-->
         <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
               style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
               <!-- Team Thumb-->
               <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                  <!-- Social Info-->
                  <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
               </div>
               <!-- Team Details-->
               <div class="single_advisor_details_info">
                  <h6>Mrinmoy Mandal</h6>
                  <p class="designation">BWU/BTS/19/183</p>
               </div>
            </div>
         </div>
         <!-- Single Advisor-->
         <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
               style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
               <!-- Team Thumb-->
               <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                  <!-- Social Info-->
                  <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
               </div>
               <!-- Team Details-->
               <div class="single_advisor_details_info">
                  <h6>Deep Tarafdar</h6>
                  <p class="designation">BWU/BTS/19/204</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end inner page section -->
   <!-- About us -->

   <!--End About us -->

   <%- include ./partials/footer %>