<%- include ./partials/header %>
<!-- inner page section -->
<section class="inner_page_head">
  <div class="container_fuild">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <h3>Our Creative Team</h3>
          <h4>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic
            provident unde doloremque doloribus nostrum magni blanditiis
            temporibus, repellendus exercitationem corrupti natus dignissimos
            laborum quasi ipsa, suscipit possimus excepturi mollitia veritatis
            deserunt aliquid repellat error. Possimus, corrupti optio fuga
            officiis corporis veritatis asperiores! Iure dolorem debitis
            obcaecati officiis eius totam consequatur magni odit enim dolorum et
            asperiores, quo animi veniam in neque, atque odio. Iste fuga
            accusantium nobis nihil error voluptatum sint quam magnam cumque
            nisi vitae, ducimus unde molestias, sed, modi provident atque culpa
            molestiae amet in. Explicabo beatae, quibusdam, fuga exercitationem
            rem facilis ratione, magnam nulla tenetur eius iusto.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end inner page section -->
<!-- About us -->

<!--End About us -->

<%- include ./partials/footer %>
