.gradient-custom {
/* fallback for old browsers */
background:  linear-gradient(#f7444e, #ec575e);

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgb(245, 72, 72), rgb(245, 72, 72, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(245, 72, 72, 1), rgba(245, 72, 72, 1))
}